body{
    background-color: #007AFF !important;
}


.container {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.questionFooter{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
}


.cardMain{
    width: 24rem;
    background-color: aliceblue;
    padding: 8px;
}


.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}


.bg-success, .bg-danger {
    color: white !important;
}


.width-100 {
    width: 100%;
}


.textCenter {
    text-align: center;
}


.endScreenHeadline {
    font-size: 38px;
    margin-bottom: 32px;
}